@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.container {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  /* Equivalent to @screen md */
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1024px) {
  /* Equivalent to @screen lg */
  .container {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }
}
